*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
*, *::before, *::after {
    box-sizing: border-box;
}

:root{
    --body-color: white;
    --main-font:'poppins';
    --header-font:"Playwrite IN", cursive;
    --pc-header-size: 2.5rem;
    --pc-main-size:1.5rem;
    --page-color:white;
    --text-color:black;
    --highlight-text-color:rgb(68, 62, 62);
    --highlight-color:gray;
    --clip-box-color:rgba(214, 206, 206, 0.884);
    --tech-items-color:rgba(238, 235, 235, 0.808);
    --input-box-color:rgba(255, 255, 255, 0.74);
}
html{
    overflow-x: hidden;
}
body{
    background-color: var(--body-color);
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
/* navbar */
.nav-bar{
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    justify-content: space-between;
    padding: .5rem 2rem;
    background-color: var(--body-color);
    z-index: 99;
}
.logo-theme-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-theme-container button {
    border: 1px solid var(--text-color);
    border-radius: 5px;
    padding: .6rem .7rem;
    margin-right: 2rem;
    background: none;
}
.logo-theme-container i{
    color: var(--text-color);
    transition: .5s ease;
}
.fa-sun:hover{
    transform: rotateZ(100deg);
}
.fa-moon{
    padding: 0 .1rem;
}
.nav-bar h1{
    font-family: var(--header-font);
    font-size: var(--pc-header-size);
    text-transform: capitalize;
    position: relative;
    color: var(--text-color);
}
.nav-bar h1::after{
    content: '';
    left: 0;
    bottom: -5px;
    height: 2px;
    width: 0;
    background-color: var(--text-color);
    position: absolute;
    transition: 0.5s ease;
}
.nav-bar h1:hover::after{
    width: 100%;
}
.nav-bar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5rem;
}
.nav-bar ul li {
    margin: 0 1rem;
    list-style: none;
}
.nav-bar ul li a{
    text-decoration: none;
    color: var(--text-color);
    font-family: var(--main-font);
    text-transform: capitalize;
    position: relative;
}
.nav-bar ul li a::after{
    content: '';
    left: 0;
    bottom: -5px;
    height: 2px;
    width: 0;
    background-color: var(--text-color);
    position: absolute;
    transition: 0.5s ease-in;
}
.nav-bar ul li a:hover::after{
    width: 100%;
}

/* reusble styles */
#about,#education,#skills,#contact{
    min-height: 100vh;
    width: 100%;
    padding-top: 7rem;
}
.heading{
    font-family: var(--header-font);
    font-size: var(--pc-header-size);
    color: var(--text-color);
    text-align: center;
    text-transform: capitalize;
    text-decoration: underline;
}
:where(h1) {
  margin-block: 0.67em;
  font-size: 2em;
}
html.sr .slide-up,html.sr .slide-right,html.sr .slide-left{
    visibility: none;
}
.fa-up-right-from-square {
    transition: .5s ease;
    text-decoration: none;
    color: var(--text-color);
}
.fa-up-right-from-square:hover{
    transform: scale(1.2);
}
/* nav-active */
.active{
    color: var(--highlight-color) !important;
}
.active::after{
    width: 100% !important;
}

/* social */

.socials{
    height: 45rem;
    width: 3rem;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.social-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    top: 0;
    position: relative;
    flex-direction: column;
    margin-bottom: 3rem;
    gap: 2rem;
}
.social-icons i{
    color: var(--text-color);
    transition: .5s ease;
    font-size: var(--pc-main-size);

}
.social-icons i:hover,.socials-mail p:hover{
    transform: translateY(-5px);
}
.line{
     height: 15rem;
    background-color: var(--text-color);
    width: 2px;
    bottom: 0;
    position: fixed;
}
.socials-mail{
    height: 23rem;
    width: 3rem;
    position: fixed;
    z-index: 100;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.socials-mail a{
    writing-mode: vertical-rl;
    font-family: var(--main-font);
    font-size: .9rem;
    text-transform: capitalize;
    color: var(--text-color);
    top: 0;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    transition: .5s ease;
}
/* up-top */
.up-top{
    position: fixed;
    z-index: 100;
    bottom: 1.5%;
    right: 11%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: var(--highlight-color);
    border: 1px solid var(--text-color);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    transition: 0.5s ease;
}
.up-top:hover{
    border-radius: 5px;
}
.up-top i{
    color: var(--text-color);
}
/* decorate-line */
.decorate-container{
    display: flex;
    width: 100%;
    height: 5rem;
    background: url(assets/decorative-line-divider-design.png);
    align-items: center;
    justify-content: center;
}
.decorate-line{
    width: 20%;
}
.decorate-white{
    display: none;
}
/* home */
#home{
    display: grid;
    width: 100%;
    min-height: 100vh;
    grid-template-columns: repeat(2,1fr);
  
}
.hbox{
    background-color: var(--clip-box-color);
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: -1;
    bottom: 0;
    left: 2rem;
    clip-path: polygon(75% 46.25%, 75% 25%, 9.75% 29.25%, 25% 57.25%, 67% 57.25%, 75% 75%, 25% 75%);
}
.left{
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
    position: relative;
}
.left img{
    width: 100%;
    filter: grayscale(1);
    transition: 1s ease;
}
.left img:nth-child(2){
    display: none;
}
.left img:hover{
    filter: grayscale(0);
}
.right{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1,1fr);
    align-content: center;
    justify-items: center;
}
.right h1{
    font-family: var(--header-font);
    font-size: var(--pc-header-size);
    color: var(--text-color);
}
.right p{
    font-family: var(--main-font);
    font-size: var(--pc-main-size);
    color: var(--text-color);
}

/* about */
#about{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.para{
    margin: 2rem;
    width: 80%;
    border-radius: 10px;
}
.para p{
    font-family: var(--main-font);
    text-align: center;
    color: var(--text-color);
    font-size: var(--pc-main-size);
    padding: 2rem;
}

.expertise{
    border: 2px solid var(--text-color);
    margin: 2rem;
    padding: 2rem 0;
    border-radius: 10px;
    width: 70%;
    box-shadow: 5px 5px 20px 2px rgba(0, 0, 0, 0.205);
}

.description h3{
    font-family: var(--main-font);
    margin-left: 1rem;
    color: var(--text-color);
    font-size:calc(var(--pc-main-size)/1.2) ;
}
.description{
    display: grid;
    padding:  1rem 2rem;
    grid-template-columns: 25% 75%;
    row-gap: 1rem;
    column-gap: 2rem;
}
.description img{
    width: 100%;
    border: 2px solid var(--text-color);
}

.tech{
    background-color: var(--tech-items-color);
    /* box-shadow: 1px 6px 5px 2px rgba(179, 172, 172, 0.445); */
    border-radius: 30px;
    border: 1px solid rgba(88, 76, 76, 0.685);
    padding: .2rem .6rem;
    width: fit-content;
    font-family: var(--main-font);
    text-transform: capitalize;
}
.tech:hover{
    background-color: var(--text-color);
    color: var(--page-color);
}
.tech-container{
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}
.description h2{
    display: inline;
    font-family: var(--main-font);
    margin: 1rem;
    color: var(--text-color);
    font-size: calc(var(--pc-header-size)/1.5);
    letter-spacing: 5px;
    text-transform: uppercase;
}
.description a{
    align-content: center;
}

.description p{
    padding: 2rem 3rem 2rem 0 ;
    font-family: var(--main-font);
    font-size:calc(var(--pc-main-size)/1.5) ;
    color: var(--text-color);
}
.project-dark{
    display: none;
}
/* education */

.edu-wrapper{
    display: flex;
    padding: 5% 0;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.edu-container{
    background-color: var(--page-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 15rem;
    width: 70%;
    position: relative;
    padding: 3rem;
    border-radius: 10px;
    border: 2px solid var(--text-color);
    box-shadow: 5px 5px 20px 2px rgba(0, 0, 0, 0.205);
}
.edu-container h2{
    font-size: var(--pc-main-size);
    margin-bottom: 1rem;
    font-weight: 600;
    color: var(--text-color);
}
.edu-container p{
    font-size: var(--pc-main-size);
    color: var(--text-color);

}
.edu-container p:first-child{
    color: var(--highlight-text-color);
}
.edu-container h2,.edu-container p{
    font-family: var(--main-font);
    color: var(--text-color);
    text-transform: capitalize;
}
.edu-line-box{
    background-color: var(--text-color);
    width: .5rem;
    height: 5rem;
    position: relative;
    align-self: flex-start;
    left: 20%;
}
.exp-period{
    position: absolute;
    right: 0;
    color: var(--highlight-text-color) !important;
    margin-right: 1rem;
    writing-mode: vertical-lr;
    text-orientation: sideways-right;
}
.exp-line{
    left: 80%;
}
/* skills */
.card-wrapper{
    width: 100%;
    padding: 2rem 15% 0 15%;
}
.card-wrapper h3{
    text-decoration: underline;
    color: var(--text-color);
    font-family: var(--main-font);
}
.card-container{
    padding: 1rem;
    display: flex;
    gap: 2rem;
}
.card{
    padding: 1.5rem .7rem;
    display: flex;
    gap: .5rem;
    border-radius: 30px;
    width: fit-content;
    height: 1.5rem;
    border: 2px solid var(--text-color);
    box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.253);
    align-items: center;
    justify-content: start;
    background-color: var(--page-color);
    transition: 0.5s ease; 
}
.card p{
    font-family: var(--main-font);
    text-transform: capitalize;
    color: var(--text-color);
}
.card img{
    width: 1.5rem;
    filter: grayscale(1);
}
.card:hover{
    box-shadow: 7px 5px 5px 5px rgba(0, 0, 0, 0.596);
    transform: translatey(-10px)
}
.card:hover.card img{
    filter: grayscale(0);
}

/* contact */
#contact{
    padding-bottom: 1rem;
}
.contact-wrapper{
    display: grid;
    margin-top: 5rem;
    grid-template-columns: repeat(2,1fr);
    align-content: center;
    justify-items: center;
}
.contact-left h2{
    font-family: var(--header-font);
    font-size: var(--pc-header-size);
    color: var(--text-color);
}
.contact-left h2 span{
    color: var(--highlight-color);
}
.contact-left p{
    color: var(--text-color);
    font-family: var(--main-font);
}
.contact-left{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.input-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    justify-items: center;
}
.input-container input{
    padding: 1rem 3rem;
    margin: 1rem;
    color: var(--text-color);
    background-color: var(--input-box-color);
    border: 1px solid var(--text-color);
    border-radius: 5px;
    font-family: var(--main-font);
    width: 90%;
}
.input-container textarea{
    padding: 2rem 3rem 4rem 3rem;
    width: 90%;
    margin: 1rem;
    color: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: 5px;
    resize: none;
    background-color: var(--input-box-color);
    box-sizing: border-box;
    font-family: var(--main-font);
    font-size: var(--pc-main-size);
}
.input-container button{
    padding: .5rem 3rem;
    font-family: var(--header-font);
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
    background-color: var(--clip-box-color);
    color: var(--text-color);
    font-size: var(--pc-main-size);
    text-transform: capitalize;
    transition: .5s ease;
}
.input-container button:hover{
    box-shadow: 7px 5px 5px 5px rgba(0, 0, 0, 0.253);
}
.icons{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    align-content: center;
    margin-top: 2rem;
}
.icons i{
    font-size: var(--pc-header-size);
    color: var(--text-color);
    transition: 0.5s;
}
.icons i:hover{
    transform: translateY(-10px);
}
.image-container{
    width: 20rem;
    height: 20rem;
}
.image-box img{
    width: 20rem;
    filter: grayscale(1);
    clip-path: polygon(61% 0, 96% 65%, 50% 100%, 0 74%);
}
.image-box{
    background: #020024;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 0%, rgba(0, 212, 255, 1) 100%);
    width: 20rem;
    height: 20rem;
    filter: grayscale(1);
    position: relative;
    cursor: pointer;
    clip-path: polygon(61% 0, 96% 65%, 50% 100%, 0 74%);
}
.image-box:hover .contact-profile-pic{
    filter: grayscale(0) !important;
}
.image-box:hover{
    filter: grayscale(0);
}
.clip-box{
    width: 20rem;
    height: 20rem;
    background-color: var(--clip-box-color);
    position: absolute;
    z-index: -2;
    clip-path: polygon(61% 0, 96% 65%, 50% 100%, 0 74%);
}

/* footer */
footer{
    width: 100%;
    height: 5rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p{
    color: var(--highlight-text-color);
    font-family: var(--main-font);
    font-size: 1rem;
}
footer p span{
    font-family: var(--header-font);
    color: var(--text-color);
    text-transform: capitalize;
}
/* media query */
@media(max-width:1598px){
    :root{
        --pc-header-size:2rem;
        --pc-main-size:1rem;
    }
        .left img:nth-child(2){
        width: 30rem;
    }
     .edu-line-box{
        height: 3rem;
        left: 20%;
    }
      .edu-container h2{
        font-size: 1em;
    }
    .edu-container{
        height: 20%;
        padding: 2rem;
    }
        .exp-line{
        left: 80%;
    }
 
}
@media(max-width:1260px){

    .left{
        align-items: end;
    }
    .left img:nth-child(1){
        display: none;
    }
    .left img:nth-child(2){
        display: block;
    }
}

@media(max-width:980px){
        :root{
        --pc-header-size:2rem;
        --pc-main-size:1rem;
    }
    .socials,.socials-mail{
        display: none;
    }
    
    .card-wrapper{
        padding: 2rem 10% 0 10%;
    }
       .edu-line-box{
        height: 3rem;
        left: 15%;
    }
    .expertise h2{
        font-size: var(--pc-header-size);
    }
    .expertise h3{
        font-size:calc(var(--pc-header-size)/1.5);
    }
    .expertise p{
        font-size: var(--pc-main-size);
    }
    .exp-line{
        left: 85%;
    }
      .edu-container h2{
        font-size: 1em;
    }
    .edu-container{
        width: 90%;
        height: 10%;
        padding: 1rem;
    }
    .para{
        width: 100%;
        margin: 0;
    }
    .expertise{
        width: 90%;
    }
    .up-top{
        display: flex;
    }
    .nav-bar ul{
        display: none;
    }
    .nav-bar{
        justify-content: start;
        padding: 1rem 0;
    }
    .logo-theme-container{
        width: 100%;
        justify-content: space-between;
        padding: 0 2rem;
    }

    .logo-theme-container button{
        margin: 0;
    }
  #about,#education,#skills,#contact{
    min-height: fit-content;
    padding-top: 0;
  }
  .decorate-line{
    width: 30%;
  }
    #home{
        grid-template-columns: repeat(1,1fr);
    }
    .right{
        align-content: start;
        height: fit-content;
    }
    .left img:nth-child(2){
        width: 30rem;
    }
    .card-wrapper{
        grid-template-columns: repeat(1,1fr);
    }
    .contact-wrapper{
        grid-template-columns: repeat(1,1fr);
        row-gap: 5rem;
    }
    .contact-left{
        grid-row: 2;
    }
    .input-container input{
        padding: .5rem 1.5rem;
    }
    .input-container textarea{
        padding: .5rem 1.5rem 2rem 1.5rem;
    }
    .hbox{
        left: 10%;
        bottom: 20%;
        width: 60%;
        height: 50%;
    }
    .card-container{
     flex-wrap: wrap;
    }
    .card{
        height: 2rem;
        padding: .8rem .5rem;
    }
    .description{
        grid-template-columns: repeat(1,1fr);
    }
}
@media(max-width:450px){
    /* .nav-bar h1{
        font-size: var(--mobile-header-size);
    } */
     :root{
        --pc-header-size:1.5rem;
        --pc-main-size:.7rem;
     }
     .left img:nth-child(2){
        width: 20rem;
     }
}